/* ---------------google font-----------------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




/*--------------- common style and utilities------------------  */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/*------------------------ header styles start----------------------- */
header{
    background-color: #2D25A0;
    padding-top: 135px;
    padding-bottom: 86px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-text h1{
    font-size: 64px;
    font-family: 'Poppins', sans-serif;  
    font-weight: bold;
    line-height: 0.7;
    color:  #FFFFFF;
}
.banner-text p{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    background-color: #E02C6D ;
    color: white;
    width: 168px;
    height: 44px;
}
.banner-text a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    
}

.banner-photo img{
    width: 556px;
    height: 438px;
}
header:hover img {
    transform: rotate(30deg);
    transition: transform 1s ease-in-out ;
}
/*----------------------- header styles end ------------------------- */
/*-------------------players part styles start ---------------------- */
.players-1{
    display: flex;
    justify-content: center;
    margin-top: 70px;  
}
.players-2{
    display: flex;
    justify-content: center;
    margin-top: 27px;    
}
.players-3{
    display: flex;
    justify-content: center;
    margin-top: 27px; 
}

.player{
    width: 315px;
    height: 474px;
    box-shadow: 5px 5px 20px gainsboro;
    padding: 15px;
    margin-right:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player img{
    width: 100%;
    display: block;
    margin: auto;
}
.player-text{
    width: 100%;
    text-align: justify;
}
/* -----------------------players part style end ----------------------- */
/* ----------------------top team part style start------------------------*/
.top-team h1{
    text-align: center;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;  
    color: gray;
    margin-top: 170px;
}
.teams{
    display: flex;
    justify-content: center;
}
.team{
    width: 400px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px gainsboro;
    
    
}

.team-name{
    font-size: 20px;
    color:gray;

}
span{
    color:orange;
}
.team-pic img{
    width: 100%;
    height: 250px;
}
.teams-2{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
/* ----------------------top team part style end------------------------------- */
/* ------------------follow cop america style start ----------------------------*/
.copa-america{
    display: flex;
    justify-content: center;
    margin-top: 158px;
    margin-bottom:158px;
}
.copa-banner{
    background-color: rgb(7, 7, 48);
    width: 1350px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.follow-text{
    padding-bottom: 20px;
}
.follow-text h3{
    font-size: 30px;
    color: white;
}
.follow-text a{
    text-decoration: none;
    background-color: yellow;
    color:gray;
    font-size: 15px;
    padding: 10px 40px;
    font-weight: 900;
    border-radius: 20px;
}
.follow-text a:hover{
    background-color: cyan;
}
.follow-icon{
    padding-top: 20px;
}
.follow-icon img{
    width:80px;
    height: 50px;
}
/* ---------------------follow copa america style end ------------------------------ */
/* ------------------------footer part style start ----------------------------------*/
.foot-pic img{
    width: 484px;
    height: 110px;
}
.foot-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 63px;
}
.foot-icon-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.foot-icon{
    width: 170px;
    height: 32px;
 
}
.foot-icon img{
    width: 20%;
    margin-right:3%;
}
.foot-text p{
    font-size: 18px;
}

/*---------------------------- responsive website--------------------------------- */

/* ------------------------------mobile device --------------------------------------- */

@media only screen and (max-width:688px) {
    /*----- header responsive ------- */

    header{
        background-color: #2D25A0;
        width: 100%;
        padding-top: 112px;
        margin-bottom: 61px;
    }
    .banner{
        display: flex;
        flex-direction: column;
    }
    .banner-text h1{
        font-size: 55px;
        font-weight: 700;
    }
    .banner-photo img{
        width: 400px;
        height: 320px;
        margin-top: 50px;
    }

    /*-------------- players part resonsive ----------- */
    .players-1{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin-left: 70px;
    }
    
    .players-2{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin-left: 70px;
    }
    
    .players-3{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin-left: 70px;
        
    }
    .player{
        margin-bottom: 24px;

    }
    .player-3 , .player-6 {
        margin-bottom: 0;
    }
    /* -------------- team part responsive --------------*/

    .top-team h1{
        font-size: 40px;
        margin-top: 60px;
        
    }
    .teams-2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 40px;
        margin-left: 45px;
    }
    .team-2{
        margin-bottom: 40px;
    }

    /* ------------copa america responsive ----------------- */

    .copa-america{
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 158px;
        margin-bottom:158px;
    }
    .follow-text{
        margin-left: 20px;
    }
    .follow-text h3{
        font-size: 25px;
        color: white;
    }
    .follow-text a{
        padding: 5px 20px;
        font-size: 10px;
    }
    .follow-icon img{
        width:50px;
        height: 30px;
    }

    /*----------------footer part responsive----------------------- */

    .foot-pic img{
        width: 275px;
        height: 63px;
    }
}